<div class="container">
 <div class="col-md-10 mx-auto mt-5">
  <div class="row justify-content-center mb-5">
    </div><h5 class="mb-0", style= "color: #008b8b;" ><%= current_user.last_name %><%= current_user.first_name %>さんのチャットルームの一覧</h5>
<% @reservation.each do |reservation| %>
  <div>
    <%= reservation.day.strftime("%Y年%m月%d日(%a)") %><%= reservation.time.strftime( "%H:%M" ) %>
    <%= link_to "DM", room_path(reservation) %>
  </div>
<% end %>