<div class="container border border-white contents-area bg-white" >
  <div class="row mt-5">

    <div class="col-4 mb-3 offset-1">
      <h3><strong class="border-bottom border-dark">コメント詳細</strong></h3>
    </div>

      <div class="container mb-5">
        <div class="row">
          <div class="col-10 mx-auto">

            <table class="table table-borderless contents-area">
              <thead>
                <tr>
                  <th>会員ID</th>
                  <th>タイトル</th>
                  <th>ニックネーム</th>
                  <th>コメント</th>
                </tr>
                <tr>
                  <td><%= @comment.user_id %></td>
                  <td><%= @post.title %></td>
                  <td><%= @comment.user.nick_name %></td>
                  <td><%= @comment.content %></td>
                </tr>
              </thead>
            </table>

          <div class="d-grid gap-2 d-md-block">
            <%= link_to "コメントを削除する", salon_comment_path(@comment), class: "btn btn-danger btn-lg", method: :delete, "data-confirm" => "本当にコメントを削除しますか?" %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
