<!-- form_with部分 -->
<%= form_with model: @menu, url:salon_menus_path, method: :post do |f|  %>
  <div class="container my-5">
  <div class="row">
  <div class="col-10 mx-auto">
  <h5 class="ml-5 mb-5"><span class="title-custom px-4">メニュー追加登録</span></h5>

      <table class="table table-borderless">
    <%#= render 'layouts/errors', obj: @item %>
        <div class="col-8 mx-auto form-group">
         <tr>
            <td>商品画像</td>
            <td><%#= f.file_field :image, accept: "image/*" %></td>
         </tr>
         <tr>
            <td>タイトル</td>
            <td> <%= f.text_field :title, placeholder:"メニュータイトルを入力してください", class: "form-control" %></td></tr>
         <tr>
            <td>説明</td>
            <td> <%= f.text_area :description, placeholder:"説明を入力してください", class: "form-control"%></td>
         </tr>
         <tr>
            <td>税抜き料金</td>
            <td><%= f.text_field :price, placeholder:"金額を入力してください", class: "form-control" %></td>
         </tr>

    <!--登録ボタン-->
            <td><%= f.submit '新規登録' ,class:"btn btn-success" %></td>
       </table>
     <% end %>
  </div>
  </div>
  </div>
  </div>