<div class="container">
 <div class="col-md-10 mx-auto mt-5">
  <div class="row justify-content-center mb-5">
    </div><div>サロンチャットルーム</div>
<% @reservations.each do |reservation| %>
  <div>
    <%= reservation.user.last_name %><%= reservation.user.first_name %>
    <%= reservation.day.strftime("%Y年%m月%d日(%a)") %><%= reservation.time.strftime( "%H:%M" ) %>
    <%= link_to "DM", salon_room_path(reservation) %>
  </div>
<% end %>