<!-- form_with部分 -->
<%= form_with model: [:salon, @post], url: salon_post_path do |f| %>
  <div class="container my-5">
  <div class="row">
  <div class="col-10 mx-auto">
  <h5 class="ml-5 mb-5"><span class="title-custom px-4">投稿編集</span></h5>

      <table class="table table-borderless">
    <%= render 'layouts/error', obj: @post %>
        <div class="col-8 mx-auto form-group">
         <tr>
            <td>商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
         </tr>
         <tr>
            <td>タイトル</td>
            <td> <%= f.text_field :title, placeholder:"タイトルを入力してください", class: "form-control" %></td></tr>
         <tr>
            <td>内容</td>
            <td> <%= f.text_area :description, placeholder:"内容を入力してください", class: "form-control"%></td>
         </tr>


    <!--登録ボタン-->
            <td><%= f.submit '登録' ,class:"btn btn-success" %></td>
       </table>
     <% end %>
  </div>
  </div>
  </div>
  </div>