        <!-- form_with部分 -->
        <%= form_with model: @post, url:salon_posts_path, method: :post do |f|  %>
<div class="container new-post-container my-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h5 class="ml-5 mb-5"><span class="title-custom px-4">New Post <i class="fa-solid fa-file-circle-plus"></i></span></h5>
        <table class="table table-borderless new-post-table">
          <%= render 'layouts/error', obj: @post %>
            <div class="col-8 mx-auto form-group">
              <tr>
                <td>画像</td>
                <td><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <td>タイトル</td>
                <td> <%= f.text_field :title, placeholder:"投稿タイトルを入力してください", class: "form-control" %></td></tr>
              <tr>
                <td>内容</td>
                <td> <%= f.text_area :body, placeholder:"内容を入力してください", class: "form-control"%></td></tr>
                <!--登録ボタン-->
                <td><%= f.submit '新規登録' ,class:"btn btn-success" %></td>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>