<div class="container post-detail-container">
  <div class="col-md-12 mx-auto mt-5">
    <div class="row justify-content-center mb-5">
      <h4>Post Detail <i class="fa-regular fa-image"></i></h4>
    </div>
  </div>
    <div class="col-md-5 mx-auto mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex text-center justify-content-center align-items-center">
          <%= image_tag @post.image, size: "300x330" %>
        </div>
          <div class="tag-box">
            <% @post.tags.each do |tag| %>
              <span class="label">#<%= tag.name %></span>
            <% end %>
          </div>
      </div>
    </div>
      <div class="col-12 text-center title">
        <i class="fa-regular fa-comment"></i><span id="comment_count"><%= @post.comments.count %></span>commnts
          <i class="fa-regular fa-eye"></i><%= @post.read_counts.count %>views
            <span> <i class="fa fa-heart like"></i>
              <%= @post.likes.count %></span>
        </div>
          <div class="col-8 mx-auto mt-5 ">
            <div class="box73">
              <div class="box-title"><%= @post.title%>
              </div>
                <%= @post.body %>
            </div>
          </div>
    <div class=" mt-3 text-center">
      <%= link_to "編集", edit_salon_post_path(@post.id), class: "btn w-25 mt-3 change_button", style: "background-color:#8fbc8f;" %>
        <%= link_to "削除", @posts, method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn w-25 mt-3 change_button", style: "background-color:#cd5c5c;"%>
    </div>
  <div id="comments-area"><%= render "salon/comments/comment", post: @post,comment: @comment,post_comments: @post_comments %>
  </div>
</div>