<div class = "container my-4">
  <h4><strong style="background-color:#EEEEEE;">マイページ</strong></h4>
   <div class = "row">
      <%= link_to "編集する", edit_information_path, class: "btn d-flex align-items-center ms-3", style: "background-color: #D5CEA3; color: #1A120B" %>
    </div>
  <div class='row'>
      <table class="table table-bordered border-dark table-hover table-inverse custom-table">
        <tbody>
          <tr>
              <th>氏名</th>
               <td><%= @user.last_name %>
          <%= @user.first_name %></td>
         </tr>
         <tr>
              <th>カナ</th>
               <td><%= @user.last_name_kana %>
              <%= @user.first_name_kana %></td>
         </tr>
         <tr>
              <th>メールアドレス</th>
               <td><%= @user.email %></td>
         </tr>
         <tr>
              <th>電話番号</th>
               <td><%= @user.phone_number %></td>
         </tr>
         <tr>
              <th>郵便番号</th>
               <td><%= @user.postal_code %></td>
         </tr>
         <tr>
              <th>住所</th>
               <td><%= @user.address %></td>
         </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
    </div>
   </div>
   <div>
   </div>
  </div>