<div class="container">
  <div class="row pt-5">
    <div class="col-12 text-center title">
      <h1>Reservation Detail</h1>
    </div>
    <div class="col-12 mt-3 text-center content">
      <div>
        <label><strong>名前：</strong></label>
        <p style="display:inline;"><%= @reservation.user.last_name %><%= @reservation.user.first_name %></p>
      </div>
      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%= @reservation.day.strftime("%Y年%m月%d日(%a)") %></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%= @reservation.time.strftime("%H:%M") %></p>
      </div>
      
      <%= form_tag update_status_salon_reservation_path(@reservation), method: :patch do %>
        <div class="col-12 mt-5 text-center">
          <div class="radio-button-group">
            <input type="radio" name="new_status" id="status-coming" value="来院済み" <%= 'checked' if @reservation.status == '来店済み' %>>
            <label for="status-coming" class="radio-label">
              <i class="fas fa-check"></i> 来院済み
            </label>
            
            <input type="radio" name="new_status" id="status-not-coming" value="不来院" <%= 'checked' if @reservation.status == '不来院' %>>
            <label for="status-not-coming" class="radio-label">
              <i class="fas fa-times"></i> 不来院
            </label>
          </div>
          
          <div class="mt-3"></div> <!-- 余白を追加 -->
          
          <%= submit_tag "ステータス更新", class: "btn btn-info" %>
        </div>
      <% end %>
      
      <div class=" mt-3 text-center">
        <%= link_to 'Destroy', salon_reservation_path(@reservation), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn w-25 mt-3 change_button", style: "background-color:#a52a2a;" %>
        <%= link_to 'message', salon_rooms_path, class: "btn w-25 mt-3 change_button", style: "background-color:#db7093;" %>
        <%= link_to 'Edit', edit_salon_reservation_path(@reservation), class: "btn w-25 mt-3 change_button", style: "background-color:#8fbc8f;" %>
      </div>
    </div>
    <div class="col-12 text-right">
      <%= link_to 'スケジュールに戻る', salon_reservations_path %>
    </div>
  </div>
</div>