<nav class="navbar navbar-expand-lg text-center pt-0 pb-0"style="background-color:#bc8f8f;">
   <div class="collapse navbar-collapse">
    <%# if user_signed_in? %>
     <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
      <div class="navbar navbar-brand">
        <%#= link_to root_path do %>
          <%#= image_tag 'logo.jpg', alt: "ロゴ" %>
        <%# end %>
        <!--<h5 class="mb-0", style= "color: #E5E5CB;" >ようこそ、<%#= current_customer.last_name %>さん</h5>-->
      </div>
    </div>
    <%# elsif admin_signed_in? %>
    <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
      <div class="navbar navbar-brand">
      <%#= link_to root_path do %>
        <%#= image_tag 'logo.jpg', alt: "ロゴ" %>
      <%# end %>
      <!--<h5 class="mb-0", style= "color: #E5E5CB;">管理者ログイン中</h5>-->
      </div>
    </div>
      <%# else %>
      <div class="navbar navbar-brand ms-5">
        <%#= link_to root_path do %>
        <%#= image_tag 'logo.jpg', alt: "ロゴ" %>
        <%# end %>
        <div></div>
      </div>
      <% #end %>
     </div>

     <div class="col-md-6">
      <ul class="navbar-nav mx-auto justify-content-around">
        <% if user_signed_in? %>
         <li class="nav-item">
           <%= link_to mypage_path ,class: "nav-link", style: "color: #d8bfd8;" do %>
           <i class="fa-solid fa-user"></i>
           マイページ
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to posts_path ,class: "nav-link", style: "color: #d8bfd8;" do %>
           <i class="fas fa-camera-retro"></i>
           ブログ
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to reservations_path, class: "nav-link", style: "color: #d8bfd8;" do %>
           <i class="fa-solid fa-heart"></i>
           予約
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to rooms_path, class: "nav-link", style: "color: #d8bfd8;" do %>
           <i class="fa-solid fa-heart"></i>
           DM
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to destroy_user_session_path, method: :delete, class: "nav-link", style: "color: #d8bfd8;" do %>
           <i class="fa-solid fa-right-from-bracket"></i>
           ログアウト
           <% end %>
         </li>
        <% elsif salon_signed_in? %>
         <li class="nav-item">
           <%= link_to salon_posts_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
          <i class="fas fa-camera-retro"></i>
           ブログ
           <% end %>
         <li class="nav-item">
           <%= link_to salon_users_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-user-check"></i>
           会員一覧
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to salon_reservations_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
          <i class="fa-solid fa-check"></i>
           予約スケジュール
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to destroy_salon_session_path, method: :delete, class: "nav-link", style: "color: #E5E5CB;" do %>
         <i class="fa-solid fa-right-from-bracket"></i>
           ログアウト
           <% end %>
         </li>
       <% else %>
         <li class="nav-item">
           <%= link_to about_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-heart"></i>
           About
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to new_user_registration_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-user-plus"></i>
           新規登録
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to new_user_session_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-right-to-bracket"></i>
           ログイン
           <% end %>
         </li>
       <% end %>
       </ul>
      <div class="float-right mt-2">
      <div class="search_form serch_inner ml-2">
      <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder:"顧客検索"%>
      <%= button_tag type: "submit", class:"btn btn-outline btn-sm glass" do%><div class="text-info"><i class="fa-solid fa-magnifying-glass"></i></div><% end %>
      <% end %>
      </div>
      </div>

    </div>
</nav>